<div class="navbar">
  <ul>
    <li class="nav-item <%= 'active' if current_page?(root_path) %>">
      <%= link_to "Acceuil", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item <%= 'active' if current_page?(portfolio_path) %>">
      <%= link_to "Portfolio", portfolio_path, class: "nav-link" %>
    </li>
    <li class="nav-item <%= 'active' if current_page?(apropos_path) %>">
      <%= link_to "À propos", apropos_path, class: "nav-link" %>
    </li>
    <li class="nav-item <%= 'active' if current_page?(new_contact_path) %>">
      <%= link_to "Contact", new_contact_path, class: "nav-link" %>
    </li>
  </ul>
</div>







