<div class="content-wrapper lg-m-5 mt-5 ">
  <div class="text-center">
    <h3> Notre mission</h3>
    <h4> Vous accompagner dans vos projets de création de site internet</h4>
  </div>
    <div class="container mt-5 sm-mt-0 ">
     <div class= "cards-about ">
      <div class= "card-about  p-3 sm-mt-5">
        <b> <h5> Notre histoire</h5> </b>
        <br>
        <p> C’est au bootcamp du Wagon que tout à commencé puis que nous avons réalisé un premier projet. </p>
        <p>  Nous avons naturellement choisi de poursuivre notre collaboration en proposant nos services à des personnes souhaitant développer leur site internet.</p>
        <p> En parallèle de notre activité, nous sommes également Teacher Assistant au Wagon Paris</p>
      </div>
      <div class="card-about d-flex justify-center m-4">
        <%= image_tag "le-wagon.jpg", class:"unjouruntheme", height: 300 %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 sm-mt-0 ">
   <div class= "cards-team text-center ">
    <div class= "card-team  p-3 sm-mt-5">
      <%= image_tag "ben-photo.jpg", height: 150, class:"picture-about" %>
      <div class="d-flex justify-content-center">
        <div class="pr-2">
         <b> <h4> Benjamin </h4> </b>
        </div>
        <div>
         <b> <h4 style="color:black">Crot</h4> </b>
        </div>
      </div>
      <br>
      <p> Après l’obtention d’une licence de droit puis d’un master 2 d’école de commerce, j’ai travaillé pour plusieurs startup en tant que Sales Manager. </p>
<p>Passionné depuis toujours par les nouvelles technologie, j’ai alors décidé d’apprendre à coder au Wagon et d’en faire mon métier. </p>
<div class="d-flex justify-content-between align-items-end">
    <i class="fab fa-linkedin fa-3x" style="color:#4D6EF5"></i>
    <%= image_tag "malt-logo.png", height: 48, width: 48 %>
    <%= image_tag "github.png", height: 48, width: 48 %>

</div>
    </div>
    <div class= "card-team  p-3 sm-mt-5">
       <%= image_tag "tom-photo.png", height: 150, class:"picture-about" %>
      <div class="d-flex justify-content-center">
        <div class="pr-2">
         <b> <h4> Tom </h4> </b>
        </div>
        <div>
         <b> <h4 style="color:black">Levy</h4> </b>
        </div>
      </div>
      <br>
      <p>Entrepreneur, passionné par l'impact de la technologie sur notre quotidien, j'ai décidé après plusieurs années dans différentes startups d'explorer le monde du developpement web. </p>
<p> Après une formation au Wagon Paris, je me suis lancé en freelance à plein temps afin d'accompagner les porteurs de projets digitaux à transformer leurs idées en réalité. </p>
<div class="d-flex justify-content-between">
    <i class="fab fa-linkedin fa-3x" style="color:#4D6EF5"></i>
    <%= image_tag "malt-logo.png", height: 48, width: 48 %>
    <%= image_tag "github.png", height: 48, width: 48 %>

</div>
    </div>
  </div>
</div>

</div>
    <p class="text-center">Vous avez un projet ? </p>
    <p class="text-center"> Vous souhaiteriez en savoir plus sur la faisabilité, le coût et le temps de developpement?</p>
</div>



